body{
margin: 0;
background: lavender;
}

h1{
text-align: center;
border-radius: 10px;
color: argb(255, 255, 255, .40);
}

div{
border-radius: 20px;
background: lightcyan;
color: black;
}

img{
border-radius: 20px;
padding: 1px 1px 1px 1px;
width: 300px;
height: 300px;
}
