body{
margin: 0;
background-image: url("https://raw.githubusercontent.com/northkross/scarfevolution.github.io/refs/heads/main/7135EColor.png");
background-size: cover;
background-attachment: fixed;
background-color: transparent;
}

h1{
text-align: center;
border-radius: 10px;
color: argb(255, 255, 255, .40);
}

div{
border-radius: 20px;
background: lightcyan;
color: black;
}

textarea{
background-color: gray;
border-radius: 20px;
align-items: center;
justify-content: center;
}


